<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1">-->
  
  <title>DaraSandeep</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">
  

  
    
     <style>
    body {
    background-image: url("nwmsu.jpg");
                padding-top: 50px;
                padding-bottom: 20px;
     }
 </style>
            
        
<link rel="stylesheet" href="assets/bootstrap-theme.min.css">
<link rel="stylesheet" href="assets/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

 
<body>
  
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>p
          <a class="navbar-brand" href="#">Dara Sandeep</a>
         
        
        
      </div>
     <br><br><br><br>

      <!--<nav class="navbar inverse ">

      </nav>-->
     

      <div id="menu">
        <nav class="navbar navbar-default ">
          <ul class="nav nav-pills">
            <li role="presentation" ><a href="http://127.0.0.1:8081/index.html">HOME</a></li>
            <li role="presentation"><a href="http://127.0.0.1:8081/sandeep_dara.html">ABOUT ME</a></li>
            <li role="presentation"><a href="http://127.0.0.1:8081/contact.html">CONTACT</a></li>
            <li role="presentation"><a href="http://127.0.0.1:8081/services.html">SERVICES</a></li>
            <li role="presentation" class="active"><a href="http://127.0.0.1:8081/views/index.ejs">GUESTBOOK</a></li>
            
          </ul>
      </div>
      </nav>
      </nav>
<body class="container">
 <br><br><br><br> <br><br>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook

</a>
</h1>