*{
    background-color:powderblue;

}
.container{
    background-color:rosybrown
}

h1{
    color:blue;
    font-family: "Comic Sans MS", cursive, sans-serif
}
h2{
    color: mediumvioletred;
    font-family: "Comic Sans MS", cursive, sans-serif
}
.form-group{
    column-rule-color: lightgreen
}
